{% macro debug_footer() %}
{%- if debug %}
<hr />
<div>
  {%- autoescape false %}
  {{ debug }}
  {%- endautoescape %}
</div>
{%- endif %}
{%- endmacro %}


{% macro dump_dict(obj) %}
<dl>
  {%- for key, value in obj | dictsort %}
  <dt>{{ key }}</dt>
  <dd style="border: .1em dotted blue;">
  {%- if value is mapping %}
    {{ dump_dict(value) }}
  {%- else %}
    {{ value }}
  {%- endif %}
  </dd>
  {%- endfor %}
</dl>
{%- endmacro %}


{% macro dump_list(obj) %}
<ul>
  {%- for value in obj %}
  <li>{{ value }}</li>
  {%- endfor %}
</ul>
{%- endmacro %}


{% macro dump_table(names, rows) %}
<div class="table">
<table border="1">
  <thead>
    {%- if names %}
    <tr>
      {%- for name in names %}
      <th>{{ name }}</th>
      {%- endfor %}
    </tr>
    {%- endif %}
  </thead>

  <tbody>
    {%- if rows %}
    {%- for row in rows %}
    <tr>
      {%- for col in row %}
      <td>{{ col }}</td>
      {%- endfor %}
    </tr>
    {%- endfor %}
    {%- endif %}
  </tbody>
</table>
{%- if not rows %}
<i>Нет данных</i>
{%- endif %}
</div>
{%- endmacro %}


{% macro dump_table_unsafe(names, rows) %}
<div class="table">
<table border="1">
  <thead>
    {%- if names %}
    <tr>
      {%- for name in names %}
      <th>{{ name }}</th>
      {%- endfor %}
    </tr>
    {%- endif %}
  </thead>

  <tbody>
    {%- if rows %}
    {%- for row in rows %}
    <tr>
      {%- autoescape false %}
      {%- for col in row %}
      <td>{{ col }}</td>
      {%- endfor %}
      {%- endautoescape %}
    </tr>
    {%- endfor %}
    {%- endif %}
  </tbody>
</table>
{%- if not rows %}
<i>Нет данных</i>
{%- endif %}
</div>
{%- endmacro %}
