{% macro debug_footer() %}
{%- if debug %}
<pre>
{{ debug }}
</pre>
{%- endif %}
{%- endmacro %}


{% macro dump_dict(obj) %}
<dl>
  {%- for key, value in obj | dictsort %}
  <dt>{{ key }}</dt>
  <dd style="border: .1em dotted blue;">
  {%- if value is mapping %}
    {{ dump_dict(value) }}
  {%- else %}
    {{ value }}
  {%- endif %}
  </dd>
  {%- endfor %}
</dl>
{%- endmacro %}


{% macro dump_list(obj) %}
<ul>
  {%- for value in obj %}
  <li>{{ value }}</li>
  {%- endfor %}
</ul>
{%- endmacro %}


{% macro dump_list_a(obj) %}
<ul>
  {%- for value in obj %}
  <li class=a><a href="{{ value }}">{{ value }}</a></li>
  {%- endfor %}
</ul>
{%- endmacro %}


{% macro dump_table(names, rows) %}
<div class="table">
<table border="1">
  <thead>
    {%- if names %}
    <tr>
      <th>#</th>
      {%- for name in names %}
      <th>{{ name }}</th>
      {%- endfor %}
    </tr>
    {%- endif %}
  </thead>

  <tbody>
    {%- if rows %}
    {%- for row in rows %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      {%- for col in row %}
      {%- if col is none %}
      <td><i class="inactive">null<i></td>
      {%- else %}
      <td>{{ col }}</td>
      {%- endif %}
      {%- endfor %}
    </tr>
    {%- endfor %}
    {%- endif %}
  </tbody>
</table>
{%- if not rows %}
<i>Нет данных</i>
{%- endif %}
</div>
{%- endmacro %}


{% macro dump_table_unsafe(names, rows) %}
<div class="table">
<table border="1">
  <thead>
    {%- if names %}
    <tr>
      <th>#</th>
      {%- for name in names %}
      <th>{{ name }}</th>
      {%- endfor %}
    </tr>
    {%- endif %}
  </thead>

  <tbody>
    {%- if rows %}
    {%- for row in rows %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      {%- autoescape false %}
      {%- for col in row %}
      {%- if col is none %}
      <td><i class="inactive">null<i></td>
      {%- else %}
      <td>{{ col }}</td>
      {%- endif %}
      {%- endfor %}
      {%- endautoescape %}
    </tr>
    {%- endfor %}
    {%- endif %}
  </tbody>
</table>
{%- if not rows %}
<i>Нет данных</i>
{%- endif %}
</div>
{%- endmacro %}
