<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="python flask">
  <meta name="description" content="index">
  <meta name="author" content="">
  <meta name="google" value="notranslate">
  <base target="_self">
  <link rel="shortcut icon" href="{{ app_root }}/favicon.ico">

  {%- if title %}
  <title>{{ title }}</title>
  {%- else %}
  {%- block title %}
  {%- endblock %}
  {%- endif %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Site-specified styles -->
  <link href="{{ app_root }}/css/default.css" rel="stylesheet">
</head>

<body>



<div id="content">
{%- block body %}
{%- endblock %}
</div>



{%- with messages = get_flashed_messages(with_categories=true) %}
{%- if messages %}
    <ul class=flashes>
{%- for category, message in messages %}
      <li class="flashes {{ category }}">{{ message }}</li>
{%- endfor %}
    </ul>
{%- endif %}
{%- endwith %}



{%- from "_common.html" import text_debug %}
{{ text_debug() }}

</body>
</html>
