<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ title }}</title>

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <link href="/css/view.css" rel="stylesheet" />
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="flashes {{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div id="content">
{% block body %}
{% endblock %}
</div>

{% from "_debug.html" import debug_footer with context %}
{{ debug_footer() }}
</body>
</html>
