<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="python flask">
  <meta name="description" content="index">
  <meta name="author" content="">
  <meta name="google" value="notranslate">
  <base target="_self">
  <link rel="shortcut icon" href="{{ app_root }}/favicon.ico">

{%- if title %}
  <title>{{ title }}</title>
{%- else %}
{%- block title %}
{%- endblock %}
{%- endif %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Site-specified styles -->
  <link href="{{ app_root }}/css/default.css" rel="stylesheet">
  <link href="{{ app_root }}/debug/default.css" rel="stylesheet" />

{%- block head %}
{%- endblock %}
{%- block head_base %}
{%- endblock %}
{%- if app_debug %}
  <!-- Debug styles -->
  <link href="{{ app_root }}/css/debug/debug.css" rel="stylesheet">
{%- endif %}
</head>

<body>
{%- from "_common.html" import text_navbar, text_status, text_ia_modal, text_info_modal, text_sidebar, text_flashes, text_debug with context %}



<!-- HEADER: NavBar, User dialogs -->
<header>

<!-- Bootstrap NavBar -->
{{ text_navbar() }}
<!-- NavBar END -->

</header>


{{ text_status() }}
{{ text_ia_modal() }}
{{ text_info_modal() }}



<!-- Bootstrap row -->
<div class="row" id="body-row">
{%- if not without_sidebar %}
  <!-- Sidebar col -->
{{ text_sidebar() }}
{%- endif %}

  <!-- MAIN col -->
  <div class="col py-3">
    <h2>
      {{ content_head }}
      <small class="text-muted">
      {{ content_head_muted }}
      </small>
    </h2>

{%- if card_head %}
    <div class="card">
      <h4 class="card-header">
        {{ card_head }}
      </h4>
      <div class="card-body">
        <ul>
{%- for row in card_rows %}
          <li>{{ row }}</li>
{%- endfor %}
        </ul>
      </div>
    </div>
    <hr>
{%- endif %}



    <div id="content">
{%- block body %}
{%- endblock %}
{%- block body_base %}
{%- endblock %}
{%- block body_footer %}
{%- endblock %}
    </div>



    <div class="container">
      <span class="text-muted">{{ sticky_footer }}</span>
    </div>


{{ text_flashes() }}
{{ text_debug() }}



  </div>
  <!-- MAIN Col END -->
</div>
<!-- Bootstrap row END -->



<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<!-- Site-specified scripts -->
<script src="{{ app_root }}/debug/debug.js" async></script>
<script src="{{ app_root }}/debug/jquery-debug.js" async></script>
<script src="{{ app_root }}/js/ajaxerror.js" async></script>

<script src="{{ app_root }}/js/modal.js"></script>
<script src="{{ app_root }}/js/debug.js"></script>
<script src="{{ app_root }}/js/functions.js"></script>
<script src="{{ app_root }}/js/user.js"></script>



{%- block script %}
{%- endblock %}
{%- block script_base %}
{%- endblock %}



</body>
</html>
