<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="python web application" />
  <meta name="description" content="flask web application" />
  <link href="/favicon.ico" type="image/ico" rel="shortcut icon" />

  {%- if title %}
  <title>{{ title }}</title>
  {%- else %}
  {%- block title %}
  {%- endblock %}
  {%- endif %}

  <link href="/external/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <link href="/css/default.css" rel="stylesheet" />
</head>

<body>

{%- with messages = get_flashed_messages(with_categories=true) %}
  {%- if messages %}
    <ul class=flashes>
    {%- for category, message in messages %}
      <li class="flashes {{ category }}">{{ message }}</li>
    {%- endfor %}
    </ul>
  {%- endif %}
{%- endwith %}

<div id="content">
{%- block body %}
{%- endblock %}
</div>

{%- from "_debug.html" import debug_footer with context %}
{{ debug_footer() }}

</body>
</html>
