<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ title }}</title>

  <script src="/jquery-ui/external/jquery/jquery.js"></script>

  <link href="/jquery-ui/jquery-ui.css" rel="stylesheet" />
  <script src="/jquery-ui/jquery-ui.min.js"></script>

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <link href="/debug/default.css" rel="stylesheet" />
  <script src="/debug/debug.js"></script>
  <script src="/debug/jquery-debug.js"></script>

  <link href="/css/view.css" rel="stylesheet" />
  <script src="/js/view.js"></script>
</head>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block body %}
  <p>layout.html</p>
{% endblock %}

{% from "_debug.html" import debug_footer with context %}
{{ debug_footer() }}
</body>
</html>
