<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ title }}</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/view.css" rel="stylesheet" />

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
{% block body %}
  <p>layout.html</p>
{% endblock %}

{% from "_debug.html" import debug_footer with context %}
{{ debug_footer() }}
</body>
</html>
