{% macro options_table(options) %}

<table class="table table-bordered table-hover table-sm table-responsive">
  <caption>Options</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
{%- if options %}
{%- for key, value in options | dictsort %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      <th scope="row">{{ key }}</th>
      <td>{{ value }}</td>
    </tr>
{%- endfor %}
{%- else %}
      <td colspan="3">No data</td>
{%- endif %}
  </tbody>
</table>

{%- endmacro %}
