{% macro user_source_task_list(source_tasks) %}

<h1>Source tasks:</h1>

<table class="table table-bordered table-hover table-sm table-responsive">
  <caption>List of user tasks</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Source</th>
      <th scope="col">Handler</th>
      <th scope="col">Name</th>
      <th scope="col">Mode</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Finished</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{%- for source_task in source_tasks %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      <td>{{ source_task.source.name }}</td>
      <td>{{ source_task.handler.name }}</td>
      <th scope="row">{{ source_task.name }}</th>
      <td>{{ source_task.mode }}</td>
      <td>{{ source_task.status }}</td>
      <td>{{ source_task.created }}</td>
      <td>{{ source_task.finished }}</td>
      <td><a href="{{ url_for('user_source_task_configure', uid=source_task.uid, name=source_task.name) }}">Configure</a></td>
      <td><a href="{{ url_for('user_source_task_run', uid=source_task.uid, name=source_task.name) }}">Run</a></td>
      <td><a href="{{ url_for('user_source_task', uid=source_task.uid) }}">Result</a></td>
    </tr>
{%- endfor %}
  </tbody>
</table>

{%- endmacro %}


{% macro user_source_task_info(source_task) %}

<h1>Source task:</h1>

<table class="table table-bordered table-hover table-sm table-responsive">
  <caption>User source task</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Name</th><td>{{ source_task.name }}</td>
    </tr>
    <tr>
      <th scope="col">Mode</th><td>{{ source_task.mode }}</td>
    </tr>
    <tr>
      <th scope="col">Status</th><td>{{ source_task.status }}</td>
    </tr>
    <tr>
      <th scope="col">Created</th><td>{{ source_task.created }}</td>
    </tr>
    <tr>
      <th scope="col">Finished</th><td>{{ source_task.finished }}</td>
    </tr>
  </tbody>
</table>

{%- endmacro %}
