{% extends "_layout.html" %}

{%- block body %}

{%- if total %}
<i>Всего: {{ total }}</i><br />
{%- endif %}

{%- from "_debug.html" import dump_table_unsafe %}
{%- if rows %}
{{ dump_table_unsafe(names, rows) }}
{%- endif %}

{%- for names, rows, description, after in obj %}

{%- autoescape false %}
<b><i style="background-color: #efefcf">{{ description }}</i></b>
{%- endautoescape %}
<br />
{{ dump_table_unsafe(names, rows) }}
{%- autoescape false %}
{{ after }}
{%- endautoescape %}
<hr />

{%- endfor %}

{%- endblock %}
