{% extends "_layout.html" %}


{%- block head %}

  <script type="text/javascript">

    jQuery( function($) {


      $("table#table1 th:eq(0)").click(function( event ) {
        th = $(this);
        table = th.closest("table");

        var offset = table.data("offset");
        var limit = table.data("limit");
        var query = table.data("query");

        show_info("offset: {0}<br />limit: {1}<br />{2}".format(offset, limit, var_dump1(query)), event);
      });


      $(".output_params").click( function(event) {
        $('input#offset').val(0);
        $('input#limit').val(15);
      } );


      $(".output_clause").click( function(event) {
        $('select#column1').val('');
        $('select#condition1').val('');
        $('input#value1').val('');

        $('select#column2').val('');
        $('select#condition2').val('');
        $('input#value2').val('');

        $('select#column3').val('');
        $('select#condition3').val('');
        $('input#value3').val('');
      } );


      $(".output_sorting").click( function(event) {
        $('select#sorting1').val('');
        $('select#sort_dir1').val('ASC');

        $('select#sorting2').val('');
        $('select#sort_dir2').val('ASC');

        $('select#sorting3').val('');
        $('select#sort_dir3').val('ASC');
      } );


    } );

  </script>

{%- endblock %}


{%- block body %}

{%- from "_tablehelpers.html" import render_tr, render_tr_filter, render_tr_sorting, render_navigator %}

{%- if form %}
{%- if action %}
<form id="table_params" method="post" action="{{ action }}">
{%- else %}
<form id="table_params" method="post" action="#">
{%- endif %}

<div class="tabular">
  <div class="serial">
    <table border="1">
      <tr>
        <th class="output_params" colspan="2"><i>Output</i></th>
      </tr>
      {{ render_tr(form.offset) }}
      {{ render_tr(form.limit) }}
      <tr>
        <td></td>
        <td>{{ render_navigator(page, pages, filtered) }}</td>
      </tr>
    </table>
  </div>

  <div class="serial">
    <table border="1">
      <tr>
        <th class="output_clause" colspan="3"><i>Filters</i>
          {%- if total %}
          <div class="right" style="font-weight: normal;"><i>Shown {{ shown }} of {{ filtered }} (total: {{ total }})</i></div>
          {%- endif %}
        </th>
      </tr>
      {{ render_tr_filter(form.column1, form.condition1, form.value1) }}
      {{ render_tr_filter(form.column2, form.condition2, form.value2) }}
      {{ render_tr_filter(form.column3, form.condition3, form.value3) }}
    </table>
  </div>

  <div class="serial">
    <table border="1">
      <tr>
        <th class="output_sorting" colspan="2"><i>Sorting</i></th>
      </tr>
      {{ render_tr_sorting(form.sorting1, form.sort_dir1) }}
      {{ render_tr_sorting(form.sorting2, form.sort_dir2) }}
      {{ render_tr_sorting(form.sorting3, form.sort_dir3) }}
    </table>
  </div>

  {%- if templates_list %}
  <div class="serial">
    <table border="1">
      <tr>
        <th colspan="2"><i>Extras</i></th>
      </tr>
      {{ render_tr(form.template) }}
      {{ render_tr(form.unlim) }}
      {{ render_tr(form.plain) }}
    </table>
  </div>
  {%- endif %}
</div>

<div>
  <input type=submit value="Proceed">
</div>

</form>
{%- else %}
{%- if total %}
{%- if shown %}
<div><i>Shown {{ shown }} of {{ filtered }} (total: {{ total }})</i></div>
{%- else %}
<div><i>Total: {{ total }}</i></div>
{%- endif %}
{%- endif %}
{%- endif %}


{%- from "_debug.html" import dump_value %}
<div class="table">
<table id="table1" border="1" data-offset="{{ offset }}" data-limit="{{ limit }}"
       data-query='{{ query_json }}'>
  <thead>
    {%- if names %}
    <tr>
      <th>#</th>
      {%- for name in names %}
      <th>{{ name }}</th>
      {%- endfor %}
    </tr>
    {%- endif %}
  </thead>

  <tbody>
    {%- if rows %}
    {%- for row in rows %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      {%- for col in row %}
      <td>
      {{ dump_value(col) }}
      </td>
      {%- endfor %}
    </tr>
    {%- endfor %}

    {%- if colspan and limit and filtered > offset + limit %}
    <tr>
      <td colspan="{{ colspan+1 }}">
        <span class="a extendtable">Show {{ limit }} more</span> |
        <span class="a show_all">Show all</span>
      </td>
    </tr>
    {%- endif %}

    {%- endif %}
  </tbody>
</table>
{%- if not rows %}
<i>Нет данных</i>
{%- endif %}
</div>

{%- endblock %}
