{% extends "_layout.html" %}

{%- block body %}

<div class="serial">
  Count: {{ full_rows_count }} > {{ filtered_rows_count }} ({{ rows_count }}) ::&nbsp;
</div>

<div class="serial">
  <a href="/db/">Список баз данных</a> ::&nbsp;
</div>

<div class="serial">
  <a href="/db/{{ db }}">{{ db }}</a>
</div>

<br />

<table border="1">
  {%- if names %}
    <tr>
      {%- if sequence %}
        <th>#</th>
      {%- endif %}
      {%- for name in names %}
        <th>{{ name }}</th>
      {%- endfor %}
    </tr>
  {%- endif %}

  {%- for row in rows %}
    <tr>
      {%- if sequence %}
      <td><i class="inactive">{{ loop.index }}</i></td>
      {%- endif %}
      {%- for col in row %}
        <td>{{ col }}</td>
      {%- endfor %}
    </tr>
  {%- endfor %}

  {%- if filtered_rows_count > offset + limit %}
    <tr>
        <td class="a extendtable" colspan="{{ colspan }}" data-offset="{{ offset + limit }}">
Показать ещё {{ limit }} (показано <span id="shown">{{ offset + limit }}</span> записей) | <a href="?all">Показать всё</a>
        </td>
    </tr>
  {%- endif %}
</table>

{%- endblock %}
