/*** Pre ***/
pre {
  white-space: pre-wrap;
}


/*** Modal ***/
.modal-body {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}


/*** Sidebar ***/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

/*** Content ***/
#content {
    width: 100%;
    padding: 10px;
    transition: all 0.3s;
}


/*** Badge ***/
.badge-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.badge-group > .badge {
  flex: 0 1 auto;
}

.badge-group > .badge:first-child {
  margin-left: 0;
}

.badge-group > .badge:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.badge-group > .badge:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/*** Odd ***/
.odd {
  background-color: rgba(0, 0, 0, .07);;
}
