{% extends "_layout.html" %}

{% block body %}

<table border="1">
  {%- if names %}
    <tr>
      {%- for name in names %}
        <th>{{ name }}</th>
      {%- endfor %}
    </tr>
  {%- endif %}

  {%- for row in rows %}
    <tr>
      {%- autoescape false %}
      {%- for col in row %}
        <td>{{ col }}</td>
      {%- endfor %}
      {%- endautoescape %}
    </tr>
  {%- endfor %}
</table>

<ul class="hll">
<li><a href=".">Home</a></li>
<li><a href="add_user">Add user</a></li>
<li><a href="add_group">Add group</a></li>
</ul>

{% endblock %}
