{% extends "_layout.html" %}

{% block body %}

<div class="serial">
  Count: {{ count }}
</div>

<div class="serial">
    <a href="/db/">Список баз данных</a>
</div>

{%- if extratables %}
<div class="serial">
  {%- for table in extratables %}
    <a href="{{ table }}">+{{ table }}</a>
  {%- endfor %}
</div>
{%- endif %}

{%- if lasttable %}
<div class="serial">
    <a href="..">-{{ lasttable }}</a>
</div>
{%- endif %}

<div>&nbsp;</div>

<table border="1">
  {%- if names %}
    <tr>
      {%- for table, name in names %}
        <th>{{ table }}<br />{{ name }}</th>
      {%- endfor %}
    </tr>
  {%- endif %}

  {%- for row in rows %}
    <tr>
      {%- for col in row %}
        <td>{{ col }}</td>
      {%- endfor %}
    </tr>
  {%- endfor %}

  {%- if count > offset + limit %}
    <tr>
        <td class="a extendtable" colspan="{{ colspan }}" data-offset="{{ offset + limit }}">
Показать ещё {{ limit }} (показано <span id="shown">{{ offset + limit }}</span> записей) | <a href="?all">Показать всё</a>
        </td>
    </tr>
  {%- endif %}
</table>

{% endblock %}
