{% extends "_layout.html" %}

{% block body %}

<table>
<tr><td><b>Email:</b></td><td>{{ cu.email }}</td></tr>
<tr><td><b>Username:</b></td><td>{{ cu.username }}</td></tr>
<tr><td><b>Name:</b></td><td>{{ cu.name }}</td></tr>
<tr><td><b>Company:</b></td><td>{{ cu.company }}</td></tr>
<tr><td><b>Created:</b></td><td>{{ cu.created }}</td></tr>
<tr><td><b>Email verified:</b></td><td>{{ verified }}</td></tr>
</table>
<a href="/edit">Edit profile</a><br />
<br />


<b>Databases:</b>
<table>
{%- for db in cu.databases %}
  <tr><td><b>>{{ db }}</b></td><td>View</td><td>Edit</td><td>Delete</td></tr>
{%- endfor %}
</table>
<a href="/append_db">Append database</a><br />
<br />
<a href="/db">View</a><br />
<a href="/dbinfo">Info</a><br />
<br />


<a href="/">Home</a><br />
<a href="/init_env">Init environment</a><br />
<a href="/send_verification">Send verification</a><br />
<a href="/logout">Logout</a><br />
<br />
<a href="/delete_account">Delete account</a><br />

{% endblock %}
