{% extends "base.html" %}

{%- block body %}

<table class="table table-bordered table-hover table-sm table-responsive">
  <tr><td><b>Name:</b></td><td>{{ user.name }}</td></tr>
  <tr><td><b>Email:</b></td><td>{{ user.email }}</td></tr>
  <tr><td><b>Created:</b></td><td>{{ user.created }}</td></tr>
  <tr><td><b>Email verified:</b></td><td>{{ verified }}</td></tr>
</table>

<p>
  <a href="{{ url_for('user_edit') }}" data-toggle="modal" data-target="#iaModal2" data-dismiss="modal" data-reload_on_close="location">
    <i class="fa fa-user-edit"></i> Edit profile
  </a>
</p>
<p>
  <a href="{{ url_for('user_change_password') }}" data-toggle="modal" data-target="#iaModal2" data-dismiss="modal">
    <i class="fa fa-user-edit"></i> Change password
  </a>
</p>

<p>
  <b>User groups:</b><br />
  {%- if groups %}
  <table class="table table-bordered table-hover table-sm table-responsive">
  {%- for group in groups %}
    <tr>
      <td><i class="inactive">{{ loop.index }}</i></td>
      <td>{{ group.name }}</td>
    </tr>
  {%- endfor %}
  </table>
  {%- else %}
  <i>No group</i>
  {%- endif %}
</p>


{%- if not user.is_verified %}
<p>
  Your email is not confirmated!<br />
  <a href="{{ url_for('user_send_verification') }}">Send verification code</a><br />
</p>
{%- endif %}

<p>
  <a href="{{ url_for('user_logout') }}">Log out</a><br />
</p>

<p>
  <a href="{{ url_for('user_delete') }}">Delete account</a><br />
</p>

{%- endblock %}
