{% extends "_layout.html" %}

{% from "user/_formhelpers.html" import render_field %}

{% block body %}
<h1>Register</h1>

<form method=post action="/register">
  <dl>
    {{ render_field(form.email, size=40) }}
    {{ render_field(form.username, size=40) }}
    {{ render_field(form.name, size=40) }}
    {{ render_field(form.company, size=40) }}
    {{ render_field(form.password, size=40) }}
    {{ render_field(form.confirm, size=40) }}
    {{ render_field(form.accept_tos) }}
  </dl>
  <p>
    <input type=submit value="Register">
  </p>
</form>

<p>
  If you registered you can <a href="/login">Login</a>
</p>
{% endblock %}
