{% extends "base.html" %}

{%- from "_formhelpers.html" import render_submit, render_field %}

{%- block body %}

{%- if form %}
<h1>Sign in</h1>

<form method="post" action="?next={{ next }}">
  {{ render_field(form.email, size=40) }}
  {{ render_field(form.password, size=40) }}
  {{ render_field(form.remember) }}
  {{ render_submit(form.submit) }}
</form>

{%- if not modal %}
<p>
  If you not registered yet you can <a href="{{ url_for('user_signup') }}">Sign up</a>
</p>
{%- endif %}
{%- endif %}

{%- endblock %}
