{% extends "_p.html" %}

{%- block title %}
  <title>About</title>
{%- endblock %}

{%- block pbody %}

<p>
<b>Package</b>: <i>{{ pkgname }}</i>
</p>
<p>
<b>Description</b>: <i>{{ description }}</i>
</p>
<p>
<b>Version</b>: <i>{{ version }}</i>
</p>

{%- if py_version %}
<p>
<b>Python</b>: <i>{{ py_version }}</i>
</p>
<p>
<b>Flask</b>: <i>{{ flask_version }}</i>
</p>
<p>
<b>Flask Principal</b>: <i>{{ flask_principal_version }}</i>
</p>
<p>
<b>Flask Login</b>: <i>{{ flask_login_version }}</i>
</p>
<p>
<b>SQL Alchemy</b>: <i>{{ sqlalchemy_version }}</i>
</p>
<p>
<b>Flask SQL Alchemy</b>: <i>{{ flask_sqlalchemy_version }}</i>
</p>

<p>
<b>Admin</b>: <i>{{ is_admin }}</i>
</p>
<p>
<b>Debug</b>: <i>{{ is_debug }}</i>
</p>
<p>
<b>Statistics</b>: <i>{{ is_statistics }}</i>
</p>
{%- endif %}

{%- endblock %}
