{% extends "_layout.html" %}

{%- block title %}
  <title>Ver</title>
{%- endblock %}

{%- block body %}

  <table class="table table-bordered table-hover table-sm table-responsive">
    <tr>
      <th>
        Package
      </th>
      <th>
        Version
      </th>
    </tr>

    <tr>
      <td>jQuery</td>
      <td id="jquery"></td>
    </tr>

    <tr>
      <td>jQueryUI</td>
      <td id="jqueryui"></td>
    </tr>

    <tr>
      <td>Bootstrap</td>
      <td id="bootstrap"></td>
    </tr>
  </table>

{%- endblock %}

{%- block script %}

  <script>

    $(document).ready( function() {

        $("#jquery").text($.fn.jquery);

//      $("#jqueryui").text($.ui.version);

        $("#bootstrap").text($.fn.tooltip.Constructor.VERSION);

        //$("#jtable").text();

        //$("#dataTable").text($.fn.dataTable.version);

    } );

  </script>

{%- endblock %}
