{% extends "_layout.html" %}

{% from "_formhelpers.html" import render_field %}
{% from "_debug.html" import dump_dict %}

{% block body %}

<h1>App</h1>
{{ dump_dict(app) }}

<h1>Options</h1>
{%- if user_app %}
{{ dump_dict(user_app) }}
<a href="?update">Получить (обновить) токен</a><br />
{%- else %}
<p>
Приложение не подключено.<br />
Нажмите на ссылку, чтобы подключить приложение.<br />
Приложение получит доступ к Вашим данным.<br />
<a href="?attach">Подключить</a><br />
</p>
{%- endif %}
<br />

<ul class="hll">
<li><a href=".">Home</a></li>
</ul>
{% endblock %}
