{% extends "_layout.html" %}

{%- block head %}

  <script type="text/javascript">


    jQuery( function($) {


      $("label#input_data").click( function(event) {
        $("select#example").val('');
        $("textarea#input_data")
          .val('')
          .focus();
      } );


      $("select#example").change( function(event) {
        select = $(this);
        option = $("option:selected", select)

        $('textarea#input_data').val(option.val());
        var text = option.text();
        if (text)
          $("select#type").val(text);
      } );


      $('textarea#input_data').bind('input propertychange', function(event) {
        $("select#example").val('');
      } );


    } );


  </script>

{%- endblock %}
{%- block body %}


{%- from "_formhelpers.html" import render_field, render_hidden %}

{%- if form %}
<form id="table_params" method="post" action="{{ action }}">
<div class="tabular">
  <div class="serial">
    {{ render_hidden(form.db) }}
    {{ render_field(form.example) }}
    {{ render_field(form.input_data, cols="60", rows="8") }}
    {{ render_field(form.type) }}
    {{ render_field(form.name) }}
  </div>
</div>

<div>
  <input type=submit value="Proceed">
</div>
</form>
{%- endif %}


{%- endblock %}
