{% extends "_layout.html" %}

{% block body %}

<table border="1">
    <tr>
        <th>Databases Info</th>
    </tr>
    {%- for key in dbs_list %}
    <tr>
        {%- if key == db %}
        <td><b><i>{{ key }}</i></b></td>
        {%- else %}

        {%- if db %}
        {%- set url = "../" + key %}
        {%- else %}
        {%- set url = key %}
        {%- endif %}

        <td><a href="{{ url }}">{{ key }}</a></td>
        {%- endif %}
    </tr>
    {%- endfor %}
</table>
<br />

{%- if db %}

<pre>
db_uri {{ db_uri }}
engine {{ engine }}
metadata {{ metadata }}
</pre>

{%- endif %}

{% endblock %}
